.post {
  padding: 10px;
}
.postDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.copyIcon {
  cursor: pointer;
}
.copyIcon:hover {
  color: var(--text-h);
}
img {
  max-width: 500px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

button {
  padding: 10px 20px;
  background-color: var(--text-h);
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: var(--text);
}
