.container {
  position: relative;
}
.container h2 {
  display: flex;
  justify-content: left;
  margin-left: 20px;
  gap: 5px;
  align-items: center;
}

.profile {
  width: 50%;
  margin: auto;
  background-color: var(--accent-bg);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
.profile img {
  width: 64px;
  height: 64px;
}
.profile button {
  background-color: red;
}
.profile button:hover {
  background-color: darkred;
}

.addButton {
  position: absolute;
  right: 20px;
  top: 0;
  background-color: var(--accent);
  color: white;
}

.manualForm {
  position: absolute;
  top: 50px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.manualForm input {
  border-radius: 5px;
  padding: 2px;
  border: 1px solid var(--accent);
}
