nav {
  background-color: var(--social-bg);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.navlink {
  text-decoration: none;
  color: var(--text-h);
  font-weight: bold;
}

.navlink:hover {
  color: var(--accent);
  transform: scale(1.3);
}

.button {
  background-color: var(--accent);
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  font-weight: bold;
}
.button:hover {
  background-color: var(--accent-border);
  color: var(--bg);
  transform: scale(1.1);
  cursor: pointer;
}
